* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  transition: all ease-in-out 0.8s;
}

.container {
  width: 1700px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
}
.wrap-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#imageback {
  width: 100px;
}

.wrap-name ul {
  display: flex;
  list-style: none;
}
.wrap-name ul li {
  padding-left: 30px;
}
.wrap-name ul li a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: sans-serif;
  font-weight: 300;
  transition: 0.2s;
  margin: 0 5px;
  position: relative;
  transition: ease-in 0.2s;
  transition-delay: 0.3s;
  padding-bottom: 22px;
}
.wrap-name ul li a::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  bottom: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.wrap-name ul li a:hover:before {
  width: 100%;
}
.leftnav {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.flextechnolog h4 {
  color: rgb(132, 132, 132);
}

header {
  width: 100%;
  height: 80vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  background-image: url(../image/header.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.cont h1 {
  color: white;
  font-size: 50px;
  font-weight: 500;
  padding-bottom: 10px;
}
.cont h3 {
  color: white;
  padding-bottom: 30px;
  font-size: 18px;
}
.cont button {
  width: 120px;
  height: 35px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  transition: 0.4s;
}

.cont button:hover {
  border: 1px solid rgb(164, 164, 164);
  color: rgb(164, 164, 164);
}

.uploading {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  display: none;
  z-index: 99999;
  background-color: white;
}
.uploading-inner h1 {
  font-size: 75px;
  margin-top: 75px;
  margin-left: 80px;
  font-weight: 200;
}
.flextech2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.inflechtechinner p {
  font-size: 16px;
}
.flextech3 {
  display: flex;
  margin-top: 60px;
  align-items: center;
  gap: 60px;
}
.one p {
  margin-bottom: 10px;
  font-size: 12px;
}
.one input {
  width: 430px;
  height: 40px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.two button {
  width: 230px;
  height: 60px;
  border: none;
  background-color: rgb(202, 202, 202);
  color: white;
}
.two button:hover {
  cursor: not-allowed;
}
.wrap-exit {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  bottom: 0;
}
.round-exit {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-1 {
  width: 30px;
  height: 2px;
  background-color: white;
  transform: rotate(50deg);
  position: absolute;
}
.line-2 {
  width: 30px;
  height: 2px;
  background-color: white;
  transform: rotate(-50deg);
  position: absolute;
}

.main-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.uptext h1 {
  font-size: 40px;
  font-weight: 600;
}
.imagepage {
  margin-top: 90px;
  display: flex;
  gap: 30px;
}
.firstpage {
  width: 470px;
}
.firstpage:hover img {
  transform: scale(1.2);
}
a {
  text-decoration: none;
}
.imghover {
  width: 470px;
  height: 270px;
  overflow: hidden;
}
.hovereffect {
  width: 470px;
  height: 270px;
  background-color: black;
}
.firstpage a h4 {
  color: rgb(169, 169, 169);
  margin-top: 10px;
  margin-bottom: 10px;
}
.firstpage a h1 {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
}
.firstpage a p {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
  font-size: 14px;
}
.secondpage {
  width: 470px;
}
.secondpage:hover img {
  transform: scale(1.2);
}
.secondpage a h4 {
  color: rgb(169, 169, 169);
  margin-top: 10px;
  margin-bottom: 10px;
}
.secondpage a h1 {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
}
.secondpage a p {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
  font-size: 14px;
}
.lastPage {
  width: 470px;
}
.lastPage:hover img {
  transform: scale(1.2);
}
.lastPage a h4 {
  color: rgb(169, 169, 169);
  margin-top: 10px;
  margin-bottom: 10px;
}
.lastPage a h1 {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
}
.lastPage a p {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
  font-size: 14px;
}
.lastElecCar {
  display: flex;
  margin-top: 180px;
  gap: 60px;
  align-items: center;
}
.fulelecttext h3 {
  font-weight: 300;
  margin-bottom: 3px;
  font-size: 2.1rem;
  line-height: 3rem;
  font-family: AudiType-ExtendedNormal, Helvetica, Arial, sans-serif;
}

.fulelecttext h4 {
  margin-top: 30px;
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 40px;
}
.fulelecttext button {
  display: inline-block;
  padding: 15px 30px;
  border: 1px solid black;
  min-width: 270px;
  min-height: 60px;
  color: black;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 20px;
  transition: 0.4s;
}
.fulelecttext button:hover {
  border: 1px solid rgb(164, 164, 164);
  color: rgb(164, 164, 164);
}

.fulelecttext span {
  font-size: 11px;
  display: block;
}
.Pressreleas {
  margin-top: 200px;
}

.Pressreleas h1 {
  font-size: 50px;
  font-weight: 400;
}

.firstpage h3 {
  font-size: 22px;
  color: black;
  font-weight: 300;
}
.secondpage h3 {
  font-size: 22px;
  color: black;
  font-weight: 300;
}
.lastPage h3 {
  font-size: 22px;
  color: black;
  font-weight: 300;
}
.btn {
  width: 300px;
  margin-top: 80px;
  height: 60px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: rgb(95, 95, 95);
}
.pert {
  font-size: 11px;
  line-height: 17px;
}
